body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
    overflow-y: auto; /* Allow vertical scrolling */
    min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
    flex-direction: column; /* Stack children vertically */
}

#navigationButtons {
    position: fixed; /* Fixed positioning */
    top: 10px;
    left: 10px; /* Left-aligned */
    transform: none; /* Remove centering */
    z-index: 1000;
}

form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

#helloDivSection, #okSection, #yesNoSection, #dateOptionsSection, #thankYouSection {
    display: none;
    flex: 1; /* Allow sections to grow and take available space */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    display: flex; /* Use Flexbox for centering */
    margin-top: 20px; /* Add margin at the top */
    margin-bottom: 20px; /* Add margin at the bottom */
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    width: 100%;
}

#dateOptionsSection img[src*="watching.gif"] {
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: auto;
}

#additionalInputs {
    margin-top: 10px;
}

#additionalInputs label {
    display: inline-block;
    width: 100px;
    text-align: left;
    margin-right: 10px;
}

#inputContainer {
    display: flex;
    align-items: center;
}

#enterIdeaButton {
    height: 4em; /* Adjust the height to take up two lines */
    margin-left: 10px; /* Add some margin to separate the button from the input fields */
}
