body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
    overflow-y: auto; /* Allow vertical scrolling */
    min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
    flex-direction: column; /* Stack children vertically */
}

#navigationButtons {
    position: fixed; /* Fixed positioning */
    top: 10px;
    left: 10px; /* Left-aligned */
    transform: none; /* Remove centering */
    z-index: 1000;
}

form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

#helloDivSection, #okSection, #yesNoSection, #dateOptionsSection, #thankYouSection {
    display: none;
    flex: 1; /* Allow sections to grow and take available space */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    display: flex; /* Use Flexbox for centering */
    margin-top: 50px; /* Add margin at the top */
    margin-bottom: 50px; /* Add margin at the bottom */
    transition: opacity 3s ease; /* Slow down the transition to 3 seconds */
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    width: 100%;
}

#yesButton {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 30px; /* Add margin on the left */
}

#noButton {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 30px; /* Add margin on the right */
}

#reconsiderButton {
    display: none;
    margin-top: 20px; /* Add space between the button and the GIF abov 
it */
    position: relative; /* Ensure the button is centered within its    
container */
    left: 50%; /* Move the button to the center */
    transform: translateX(-50%); /* Adjust for the button's width */   
}

#dateOptionsSection img[src*="watching.gif"] {
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: auto;
}

#additionalInputs {
    margin-top: 10px;
}

#additionalInputs label {
    display: inline-block;
    width: 100px;
    text-align: left;
    margin-right: 10px;
}

#inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; /* Center vertically */
    position: relative; /* Add relative positioning */
    margin-left: 50px;
}

#enterIdeaButton {
    height: 4em; /* Adjust the height to take up two lines */
    align-self: flex-end; /* Align the button to the right */
    position: absolute; /* Add absolute positioning */
    right: 0; /* Position the button to the right */
    top: 50%; /* Center the button vertically */
    transform: translateY(-50%); /* Adjust for vertical centering */
    margin-right: 65px; /* Add a small margin on the right side */
}

.big-text {
    font-size: 48px; /* Make the text large */
    text-align: center; /* Center the text */
    margin-top: 20px; /* Add some margin at the top */
}

.love-heart:before,#switch {
    display: none;
   }
   
   .love-heart, .love-heart::after {
    border-color: hsl(231deg 28% 86%);
    border: 1px solid;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 10px;
    height: 8px;
    border-bottom: 0
   }
   
   .round {
    position: absolute;
    z-index: 1;
    width: 8px;
    height: 8px;
    background: hsl(0deg 0% 100%);
    box-shadow: rgb(0 0 0 / 24%) 0px 0px 4px 0px;
    border-radius: 100%;
    left: 0px;
    bottom: -1px;
    transition: all .5s ease;
    animation: check-animation2 .5s forwards;
   }
   
   input:checked + label .round {
    transform: translate(0px, 0px);
    animation: check-animation .5s forwards;
    background-color: hsl(0deg 0% 100%);
   }
   
   @keyframes check-animation {
    0% {
     transform: translate(0px, 0px);
    }
   
    50% {
     transform: translate(0px, 7px);
    }
   
    100% {
     transform: translate(7px, 7px);
    }
   }
   
   @keyframes check-animation2 {
    0% {
     transform: translate(7px, 7px);
    }
   
    50% {
     transform: translate(0px, 7px);
    }
   
    100% {
     transform: translate(0px, 0px);
    }
   }
   
   .love-heart {
    box-sizing: border-box;
    position: relative;
    transform: rotate(-45deg) translate(-50%, -33px) scale(4);
    display: block;
    border-color: hsl(231deg 28% 86%);
    cursor: pointer;
    top: 0;
   }
   
   input:checked + .love-heart, input:checked + .love-heart::after, input:checked + .love-heart .bottom {
    border-color: hsl(347deg 81% 61%);
    box-shadow: inset 6px -5px 0px 2px hsl(347deg 99% 72%);
   }
   
   .love-heart::after, .love-heart .bottom {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-color: hsl(231deg 28% 86%);
   }
   
   .love-heart::after {
    right: -9px;
    transform: rotate(90deg);
    top: 7px;
   }
   
   .love-heart .bottom {
    width: 11px;
    height: 11px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-color: hsl(231deg 28% 86%);
    left: -1px;
    top: 5px;
    border-radius: 0px 0px 0px 5px;
   }

   #dateIdeasList td {
    width: 200px; /* Increase the width of 
the table cells */
   }
