body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
    overflow-y: auto; /* Allow vertical scrolling */
}

#navigationButtons {
    position: fixed; /* Fixed positioning */
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

#helloDivSection, #okSection, #yesNoSection, #dateOptionsSection, #thankYouSection {
    display: none;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    width: 100%;
}

#dateOptionsSection img[src*="watching.gif"] {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 100px;
    height: auto;
}

#additionalInputs {
    margin-top: 10px;
}

#additionalInputs label {
    display: inline-block;
    width: 100px;
    text-align: left;
    margin-right: 10px;
}
